.img10{
    background-image: url("https://4.bp.blogspot.com/-USrhF5yreto/XMAAztBM1rI/AAAAAAAAACQ/KLOg2RxDOIQPQ4rqDmkNEyk8F8YOvMUDgCLcBGAs/w1200-h630-p-k-no-nu/Bengali%2BWedding.png");
    width: 6oopx;
    height: 500px;
    margin-right: 350px;
}
.rs{
    margin-left: 700px;
    margin-top: 17px;
}
.img11{
    background-image: url("https://i.ytimg.com/vi/OFRpawWBqSU/maxresdefault.jpg");
    width: 6oopx;
    height: 500px;
    margin-left: 350px;
}
.rs1{
    margin-right: 700px;
    margin-top: 17px;
}
.img12{
    background-image: url("https://static2.tripoto.com/media/filter/nl/img/522191/TripDocument/1529932991_pre_wedding_photo_indian_balpretin_pre_wedding_shoot_in_greenwich_park_jaypankhania_01_1800_x_1202.jpg");
    width: 6oopx;
    height: 500px;
    margin-right: 350px;
}
.rs2{
    margin-left: 700px;
    margin-top: 17px;
}
.img13{
    background-image: url("https://1.bp.blogspot.com/-fR8r7tEdzk4/XkOv3nRboZI/AAAAAAAAAgM/M9aavZqtO2ABewwCQtVoZSI6cp6G_lzOgCLcBGAsYHQ/s1600/event%2Binsurance.jpg");
    width: 6oopx;
    height: 500px;
    margin-left: 350px;
}
.rs3{
    margin-right: 700px;
    margin-top: 17px;
}
.img14{
    background-image: url("https://th.bing.com/th/id/OIP.Ac-pbm4o9V5fUvJ_yaEXgAHaE7?pid=ImgDet&w=800&h=533&rs=1");
    width: 6oopx;
    height: 500px;
    margin-right: 350px;
}
.rs4{
    margin-left: 700px;
    margin-top: 17px;
}
.txtsub{
    color: white;
}